<div class="entry">
  <p><div class="edate" id="edate">
    <%= @entry.created_at.iso8601 %>
    </div>&nbsp;<div class="ebody">
    <%= @entry.body %>
  </div></p>
  <a href="/">Add another</a>
</div>
